---
---
.logo {
  font-family: 'Short Stack', cursive;
  font-size: 8vh;
  color: #3C91E6;
  /* Safari */
  -webkit-transform: rotate(-10deg);
  /* Firefox */
  -moz-transform: rotate(-10deg);
  /* IE */
  -ms-transform: rotate(-10deg);
  /* Opera */
  -o-transform: rotate(-10deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  display: inline-block;
}

.dark {
  background-color: #342E37;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-container {
  margin: 0 auto;
  width: 70vw;
}

.responsive-size-large {
  font-size: 8vw;
  margin: 20px;
}

.responsive-size-medium {
  font-size: 6vw;
  margin: 20px;
}

.responsive-size-small {
  font-size: 4vw;
  margin: 20px;
}

button {
  margin: 20px;
  padding: 5px 10px;
  border-radius: 19px;
}

input[type=text] {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  width: 40vw;
}
.wrong-answer {
  background-color: #D490A1;
}
.correct-answer {
  background-color: #90D4AD;
}

ul{
  list-style: none;
}

li {
  margin: 30px;
  font-size: 24px;
  &.answer-choice {
    border: 2px solid black;
    background-color: #3C91E6;
    border-radius: 5px;
    font-size: 10vh;
    text-align: center;
    &:active {
      background-color: #28D6A5;
    }
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: black;
  opacity: 0.75;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity: 0.75;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity: 0.75;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
   opacity: 0.75;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: black;
  opacity: 0.75;
}

.large-play {
  color: #90D4AD;
  font-size: 150px;
}
