.responsive-size-large {
  font-size: 8vw;
  margin: 20px;
}

.responsive-size-medium {
  font-size: 6vw;
  margin: 20px;
}

.responsive-size-small {
  font-size: 4vw;
  margin: 20px;
}

button {
  margin: 20px;
  padding: 5px 10px;
  border-radius: 19px;
}
