<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>PaperPop</title>

  <link rel="stylesheet" href="/css/style.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
	{{ content }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="/js/vendor/vue.js"></script>
	<script src="/js/vendor/vue-router.js"></script>
	<script data-main="/js/app/main" src="/js/vendor/require.js"></script>
</body>
</html>
